#head{
    background: #0067C6;
}
#myCarousel{
    margin:0 auto;
    width:100%;
    height:350px;
}
#navbar{
    height:50px;
}
.carousel-control{
    top: 48%;
    bottom:45%;
    width:5%;
    border-radius: 50%;
}

#myCarousel img{
    width:100%;
    height:350px;
}
#first{
    float: none;
    display: inline-block;
    margin-left: 650px;
}
.container{
    width:100%;
}
.navbar{
    margin-bottom: 0;
}
#example-navbar-collapse ul{
    margin-right: 30px;
}
#phone img{
    width: 40px;
    height: 40px;
}
#logo{
    width:280px;
    height:26px;
    margin-top:3px;
}



